body {
	background-color: #6B0103;
}

#navbar,
#cssmenu {
	background: #1C0113;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff!important;
  background:#1C0113;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #C21A01!important;
}

#sub-nav {
	background: #A30006;
}

#sub-nav li a {
	color: #fff;
}

#FooterWrap {
	background: #1C0113;
	color: #fff;
}

.darkpink {
	color: #6B0103!important;
}