body {

}

#navbar,
#cssmenu,
.watch-btn {
	background: #D33B64;
}

.article h3 {
	color: #D33B64;
}

#cssmenu > ul > li > a {
	color: #FFF;
}

#cssmenu > ul > li:hover > a {
  color: #fff;
  background:#B6335A;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #D33B64!important;
}

#sub-nav {
	background: #F5818B;
}

#sub-nav li a {
	color: #fff;
}

.darkpink {
	color: #D33B64!important;
}