body {
	background: #E9BC62;
}

#navbar,
#cssmenu {
	background: #410B50;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff;
  background:#C01C50;
}


.watch-btn {
	background: #6FAE6F;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #6FAE6F!important;
}


.darkpink {
	color: #6FAE6F!important;
}