body {
	background-color: #8A9B0F;
}

#navbar,
#cssmenu {
	background: #490A3D;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff;
  background:#BD1550;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #8A9B0F!important;
}

#sub-nav {
	background: #F8CA00;
}

#FooterWrap {

}


.darkpink {
	color: #8A9B0F!important;
}