body {
	background: #F1E5A5;
}

#navbar,
#cssmenu {
	background: #FF8C56;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff;
  background:#ef7f4b;
}


.watch-btn, .membership-submit, .subscribe-submit {
	background: #FF8C56!important;
}

#sub-nav {
	background: #F1E5A5;
}

#sub-nav li a {
	color: #000;
}

#FooterWrap {
	background: #FECC5A;
	color: #111;
}

.darkpink {
	color: #FF8C56!important;
}