body {
	background-color: #E2E9E6;
}

#navbar,
#cssmenu {
	background: #262C2A;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff!important;
  background:#236071;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #4BA8A2!important;
}

#sub-nav {
	background: #A0CDAF;
}

#FooterWrap {
	background: #236071;
}


.darkpink {
	color: #4BA8A2!important;
}