body {
	background-color: #1C111D;
}

#navbar,
#cssmenu {
	background: #711E3F;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff!important;
  background:#C52B60;
}

.watch-btn, .membership-submit, .subscribe-submit  {
	background: #F27321!important;
}

#sub-nav {
	background: #FBA70B;
}

#FooterWrap {
	background: #711E3F;
}



.darkpink {
	color: #F27321!important;
}