body {
	background-color: #F5DB9A;
}

#navbar,
#cssmenu {
	background: #CE2035;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff!important;
  background:#F58A5C;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #75B3A7!important;
}

#sub-nav {
	background: #F5DB9A;
}

#FooterWrap {
	background: #7A4A86;
	color: #fff;
}

.darkpink {
	color: #75B3A7!important;
}