body {
	background-color: #FFDDB2;
}

#navbar,
#cssmenu {
	background: #C5C7B5;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #fff!important;
  background:#8CAEB3;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #C5C7B5!important;
}

#sub-nav {
	background: #FFDDB2;
}

#sub-nav li a {
	color: #fff;
}

#FooterWrap {
	background: #FFBA71;
	color: #fff;
}

.darkpink {
	color: #C5C7B5!important;
}

#Footer {
	color: #000;
}