body {
}

#navbar,
#cssmenu {
	background: #FBA3A0;
}

#cssmenu > ul > li > a {
	color: #000;
}

#cssmenu > ul > li:hover > a {
  color: #000;
  background:#ECB3A5;
}


.watch-btn {
	background: #DCC2AA;
}

#sub-nav {
	background: #93CBB3;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #DCC2AA!important;
}


.darkpink {
	color: #FBA3A0!important;
}