body {
	background: #F9CDAD
}

#navbar,
#cssmenu {
	background: #83AF9B;
}

#cssmenu > ul > li > a {
	color: #fbfbfb;
}

#cssmenu > ul > li:hover > a {
  color: #000;
  background:#83AF9B;
}

.watch-btn, .membership-submit, .subscribe-submit {
	background: #FC9D9A!important;
}

#sub-nav {
	background: #C8C8A9;
}

#FooterWrap {
	background: #FE4365;
}

.darkpink {
	color: #FC9D9A!important;
}